<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Chat with Evora</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <h1 class="logo-name">Chat with Evora</h1>
  <span class="version">BETA</span>
  <div class="chat-container">
    <div class="chatbox" id="chatbox"></div>
    <div class="input-container">
      <input class="sendbox" type="text" id="message" placeholder="Type your message here...">
      <button class="sendbutton" id="send">Send</button>
    </div>
  </div>
  <script src="send.js"></script>
</body>
</html>
