<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Evora</title>
  <link rel="icon" type="image/x-icon" href="evanai.ico">
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</head>
<body>
  <h1 class="logo-name">Chat with Evora</h1>
  <span class="version">V2.8</span>
  <div class="chat-container">
    <div class="chatbox" id="chatbox"></div>
    <div class="input-container">
      <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
      <textarea class="sendbox" type="text" id="message" placeholder="Type your message here..."></textarea>
      <button class="sendbutton" id="send">Send</button>
    </div>
  </div>
  <script src="send.js"></script>
</body>
</html>
